<h1>Eat some burgers!</h1>

<ul>
    {{#each burgers}}
    <li>
        <p>
            {{this.id}}. {{this.burger_name}}

            <button data-burgersid="{{this.id}}" class="delburger">Burgers to eat!</button>
        </p>

    </li>
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form action="/" method="POST">

  <div class="form-group">
    <label>Burger Name:</label>
    <input type="text" name="burger">
  </div>
  <button type="submit">Add Burger</button>
</form>